*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  font-size: 10px;
}

.container {
  width: 100%
  margin: 0 auto;

}

.preview {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  display: block;
  padding: 40px 40px 20px 20px;
}


.baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-position: left;
}

.london {
  background: #fff url(../images/london.png);
  background-size: cover;
  background-position: left;
}

.madrid {
  background: #fff url(../images/madrid.jpg);
  background-size: cover;
  background-position: left;
}

.rome {
  background: #fff url(../images/rome.jpg);
  background-size: cover;
  background-position: left;
}
